

input,textarea{
    all: unset;
}
.triangle-left {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #E6EFFF transparent;
    transform: rotate(0deg);
    animation: rotate-left 19s linear infinite;
 }
.triangle-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #E6EFFF transparent;
    transform: rotate(0deg);
    animation: rotate-right 19s linear infinite;
 }

@keyframes rotate-left{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes rotate-right{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.shape{
    animation: shape .2s linear infinite;
}

@keyframes shape {
    from{
        transform: translateX(1px)
    }
    to{
        transform: translateX(-1px)
    }
}